<div class="mdl-card__subtittle-text">Loan Application</div>
<div class="mdl-card__anun-text"><b>Business Information</b></div>

<div class="form-loan">
    <form action="#">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" ng-model="register.taxId">
        <label class="mdl-textfield__label" for="sample3">Tax Id</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" ng-model="register.business.name">
        <label class="mdl-textfield__label" for="sample3">Business Name</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" ng-model="register.business.address">
        <label class="mdl-textfield__label" for="sample3">Business Address</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" ng-model="register.business.city">
        <label class="mdl-textfield__label" for="sample3">City</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" ng-model="register.business.state">
        <label class="mdl-textfield__label" for="sample3">State</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" ng-model="register.business.postal">
        <label class="mdl-textfield__label" for="sample3">Postal Code</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" ng-model="register.business.amountRequested">
        <label class="mdl-textfield__label" for="sample3">Requested Amount</label>
      </div>
    </form>

</div>

<div class="mdl-card__anun-text"><b>Business Agent</b><br>{{register.business.name}}</div>

<div class="form-loan">
    <form action="#">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" ng-model="register.agent.securitynumber">
        <label class="mdl-textfield__label" for="sample4">Social Security Number</label>
        <span class="mdl-textfield__error">Input is not a number!</span>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" ng-model="register.agent.name">
        <label class="mdl-textfield__label" for="sample3">Name</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" ng-model="register.agent.address">
        <label class="mdl-textfield__label" for="sample3">Address</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" ng-model="register.agent.city">
        <label class="mdl-textfield__label" for="sample3">City</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" ng-model="register.agent.state">
        <label class="mdl-textfield__label" for="sample3">State</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" ng-model="register.agent.postal">
        <label class="mdl-textfield__label" for="sample3">Postal Code</label>
      </div>
    </form>

    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" ng-click="register.analysis()">
        Save
    </button>
</div>
