<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

  <header class="mdl-layout__header">
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </header>

  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Actions</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="#/register">Register and Loan Application</a>
    </nav>
  </div>

  <main class="mdl-layout__content">
    <div class="page-content">
      <div class="acme-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
          <h1 class="mdl-card__title-text"><b>Lending Front</b></h1>
        </div>
        <div class="mdl-card__supporting-text">
          Business Lending Made Simple</div>

        <div class="mdl-card__supporting-text">
          Small business credit is driven by daily cash flow not a consumer score which is at the center of consumer platforms or dated GAAP financials which are at the center of large commercial credits. 

          Our integrated platform unleashes the power and uniqueness of small business data to streamline and automate activities that are too costly and time consuming to execute by conventional means.

        </div>  
      </div>
    </div>
  </main>

  <footer class="mdl-mini-footer">
    <div class="mdl-mini-footer__right-section">
      <div class="mdl-logo"><a href="https://twitter.com/mfreyeso"/>About me</div>
    </div>
  </footer>

</div>
