@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500,700);

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 30px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

main {
  padding: 20px;
  background: #fafafa;
}

.acme-card-wide.mdl-card {
  width: 100%;
}
.acme-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background-size: 110px;
  background-repeat: no-repeat;
}
.acme-card-wide > .mdl-card__title > .mdl-card__title-text {
  color: #000;
}
.acme-card-wide > .mdl-card__menu {
  color: #000;
}
.acme-card-wide > .mdl-card__actions {
  text-align: center;
}

.mdl-layout__header {
  background-color: #E64300;
}

.mdl-card__title-text{
  font-size: 68px;
}

.mdl-card__subtittle-text{
  margin: 20px;
  font-size: 34px;
}

.mdl-card__anun-text{
  margin: 20px 30px;
  font-size: 16px;
}

.mdl-card__supporting-text{
  font-size: 20px;
  color: #000;
  font-family: Arial;
  text-align: justify;
}

.acme-card-square.mdl-card {
  width: 100%;
  min-height: 200px;
}
.acme-card-square > .mdl-card__title {
  color: #fff;
  background: #283593;
}
.acme-card-square > .mdl-card__media {
  color: #fff;
  background: none;
  text-align: center;
}
.acme-card-square > .mdl-card__media > img {
  height: 100px;
}

.form-loan{
  margin: 40px 30px 30px 130px;

}
